{{define "header"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>The Identity Store</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/user.css">
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/js/all.js"
                integrity="sha512-uNrBiKhFm8UOf0IXqkeojIesJ5glWJt8+epL5xwBBe1J9tcmd54f/vwQ6+g2ahXBHuayqaQcelUK7CULdWHinQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <span class="navbar-brand mb-0 h1" style="cursor: pointer" onclick="window.location.href='/'">The Identity Store</span>
            </div>
        </nav>

{{end}}